{% extends 'app/base.html' %}
{% block title %}
    Create post
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="add-section">
                <span>Connected as @{{ request.user }}</span>
            <h1>Add post</h1><br>
            <div class="add-section">
                <form class="add-section" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="input" type="submit" value="Post">
                </form>
            </div>
        </div>
    {% else %}
        <h1>NOT ALLOWED</h1>
    {% endif %}
{% endblock %}