{% extends 'app/base.html' %}
{% block title %}
Comment post
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
                <div class="add-section">
            <span>Hello, @{{ request.user }}</span>
        <h1>Add comment</h1><br>
        <div>
            <form class="add-section" method="post">
             {% csrf_token %}
              {{ form.content }}
                <button  class="button input">Add !</button>
            </form>
        </div>
                </div>
    {% else %}
        <h1>NOT ALLOWED</h1>
    {% endif %}
{% endblock %}