<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/app.css">

    <title>PykShare</title>
</head>
<body>
<header>
    <div>
        <span>Hello, @{{ request.user }}</span>
        <span><a href="{% url 'logout' %}">Se déconnecter</a></span>
    </div>
    <a id="pykshare" href="/feed">PykShare</a>
    {#        <span><a href="{% url 'newpost' %}"><img alt="Ajoutez un post" src="app/img/add.png"></a></span>#}
    <span><a href="{% url 'newpost' %}">Ajoutez</a></span>
</header>
<section class="container">
    {% block content %}
    {% endblock %}
</section>
</body>
</html>