{% extends 'app/base.html' %}
{% block title %}
Delete comment
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
            <span>Hello, @{{ request.user }}</span>
        <h1>Delete comment :  {{ comment.content }}</h1><br>
        <div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <strong>Sûr ??</strong>
                <input type="submit" value="DELETE">
            </form>
        </div>
    {% else %}
        <h1>NOT ALLOWED</h1>
    {% endif %}
{% endblock %}