{% extends 'app/base.html' %}
{% block content %}
    {% for post in object_list %}
     <div class="posts">
         <img alt="post content" src="{{ post.image.url }}">
        <div class="text-section">
            <strong>{{ post.author.username }}</strong>
            <p><em>{{ post.uploaded_at }}</em></p>
            <a href="{% url 'updatepost' post.pk %}">Edit</a>
            <div class="comments-section">
                {%  if not post.comments.all %}
                    No comment. <a href="{%  url 'newcomment' post.pk %}">Add comment ?</a>
                {% else %}
                    <a href="{%  url 'newcomment' post.pk %}">Add comment</a><br>
                    {% for comment in post.comments.all %}
                      <strong> {{ comment.id_user }} - {{ comment.date }} </strong>
                    <br>
                    {{ comment.content }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
     </div>
    {% endfor %}
{% endblock %}

