{% extends 'app/base.html' %}
{% block title %}
Update post
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
            <span>Hello, @{{ request.user }}</span>
        <h1>Update post</h1><br>
        <div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Post">
            </form>
        </div>
    {% else %}
        <h1>NOT ALLOWED</h1>
    {% endif %}
{% endblock %}